
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
}

.cabecalho{
    background-color: rgb(5, 116, 116);
    color: white;
    display: flex;
    padding: 30px;
    font-size: 24px;
    justify-content: space-around;
    }
    
.cabecalho-imagem{
    width: 150px;
    height: 150px;
}

.cabecalho-item{
    display: inline-block;
    padding: 0 100px;
}
.turma{
    background-image: -moz-linear-gradient(rgba(3, 158, 197, 0.705), rgba(0, 245, 253, 0.705));

}
.turma-titulo{
padding-bottom: 30px;
text-align: center;

}

.turma-imagem{
    width: 300px;

}

.estudante{
    background-image: linear-gradient();
}
